<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnQuanBaoV2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>941BB1161F05DADC00F19A3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941BB12F1F05DADC00F19A3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941BB13A1F05DADC00F19A3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
